h1{
    color: red;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
}
p{
    color: #ffaaaa;
    font-size: 14px;
    text-align: justify;
    font-weight: normal;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    text-transform: none;
    width: 600px;
    line-height:20px;
}

div{
    width: 600px;
    float: left;
    border: 5px solid #ffaaaa;

    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;

    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

body{
    background-image: url("../imgss/20473157.jpg");
    background-size: cover;
}
.dv1{
    background-color: #fcfcb3;
}
.dv2{
    background-color: antiquewhite;
}